nuxeo-coldstorage/target-mongodb/classes/schemas/coldstorage.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/coldstorage/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nxs="http://www.nuxeo.org/ecm/schemas/coldstorage/">

  <xs:include schemaLocation="core-types.xsd" />

  <xs:element name="coldContent" type="nxs:content" />
  <xs:element name="beingRetrieved" type="xs:boolean" />
  <xs:element name="toBeRestored" type="xs:boolean" />
  <xs:element name="downloadableUntil" type="xs:date" />
  <xs:element name="availableOnColdstorage" type="xs:boolean" />

</xs:schema>
